{{ define "request" }}
package request

type Add{{ .CamelName }} struct {

}

type Update{{ .CamelName }} struct {

}
{{ end }}

{{ define "response" }}
package response

type Add{{ .CamelName }} struct {

}

type Update{{ .CamelName }} struct {

}
{{ end }}