package repository

import (
    "{{ .InternalDir | ToSlash }}/ent"
)

type repository struct {
    client *ent.Client
}

// IRepository is repository's functions used to service
// It statement the repository's abilities.
// the function name use Camel-Case define should be like this.
// the action is prefix the domain is middle and the other is suffix.
type IRepository interface {
    // {{ .InjectInterface }}
}

func New(client *ent.Client) IRepository {
    return &repository{
        client: client,
    }
}

// {{ .InjectInterfaceFuncHere }}
