{{ define "repository_entity" }}
package repository

import (
    "{{ .InternalDir }}/ent"
    "{{ .InternalDir }}/model"
    "context"
)

type {{ .SnakeName | LowerCamel }}Repository struct {
    client *ent.Client
}

// {{ .SnakeName | CaseName }}Repository is repository's functions used to service
// It statement the repository's abilities.
// the function name use Camel-Case define should be like this.
// the action is prefix the domain is middle and the other is suffix.
type  {{ .SnakeName | CaseName }}Repository interface {
    Add {{ .SnakeName | CaseName }} (ctx context.Context, {{ .SnakeName | LowerCamel }} model.{{ .SnakeName | CaseName }}) (*model.{{ .SnakeName | CaseName }}, error)
    Update {{ .SnakeName | CaseName }} (ctx context.Context, id int, {{ .SnakeName | LowerCamel }} model.{{ .SnakeName | CaseName }}) (int, error)
    List {{ .SnakeName | CaseName }} (ctx context.Context, offset, limit int) (int, []*model.{{ .SnakeName | CaseName }}, error)
    Show {{ .SnakeName | CaseName }} (ctx context.Context, id int) (*model.{{ .SnakeName | CaseName }}, error)
    Delete {{ .SnakeName | CaseName }} (ctx context.Context, id int) (int, error)

    //  InjectInterface 
}

func new{{ .SnakeName | CaseName }}Repository (client *ent.Client) {{ .SnakeName | CaseName }}Repository {
    return &{{ .SnakeName | LowerCamel }}Repository{
        client: client,
    }
}

func (repo *{{ .SnakeName | LowerCamel }}Repository) Add{{ .SnakeName | CaseName }} (ctx context.Context, {{ .SnakeName | LowerCamel }} model.{{ .SnakeName | CaseName }}) (*model.{{ .SnakeName | CaseName }}, error) {
     _, err := repo.client.{{ .SnakeName | CaseName }}.Create().
             // TODO implement your business.
             Save(ctx)
     if err != nil {
        return nil, err
     }
     return &model.User{
        // TODO set you want filed from Save return value.
     }, err
 }

func (repo *{{ .SnakeName | LowerCamel }}Repository) Update{{ .SnakeName | CaseName }} (ctx context.Context, id int, {{ .LowerCamelName | FirstLetter}} model.{{ .SnakeName | CaseName }}) (int, error) {
     return repo.client.{{ .SnakeName | CaseName }}.Update().
             Where({{ .SnakeName }}.ID(id)).
             // TODO implement your business.
             Save(ctx)
}

func (repo *{{ .SnakeName | LowerCamel }}Repository) List{{ .SnakeName | CaseName }} (ctx context.Context, offset, limit int) (int, []*model.{{ .SnakeName | CaseName }}, error) {
     total, err := repo.client.{{ .SnakeName | CaseName }}.Query().Count(ctx)
     if err != nil {
         return 0, nil, err
     }

     var list []*model.{{ .SnakeName | CaseName }}
     err = repo.client.User.Query().
        // TODO implement your business.
        Offset(offset).
        Limit(limit).
        Select().
        Scan(ctx, &list)

     if err != nil {
        return 0, nil, err
     }
     return total, list, nil
}

func (repo *{{ .SnakeName | LowerCamel }}Repository) Show{{ .SnakeName | CaseName }} (ctx context.Context, id int) (*model.{{ .SnakeName | CaseName }}, error) {
     var {{ .LowerCamelName | FirstLetter }} *model.{{ .SnakeName | CaseName }}
     err := repo.client.{{ .SnakeName | CaseName }}.Query().
         Where({{ .SnakeName }}.ID(id)).
         Select().
         // TODO implement your business.
         Scan(ctx, &{{ .LowerCamelName | FirstLetter }})
     if err != nil {
        return nil, err
     }
     return {{ .LowerCamelName | FirstLetter }}, nil
}

func (repo *{{ .SnakeName | LowerCamel }}Repository) Delete{{ .SnakeName | CaseName }} (ctx context.Context, id int) (int, error) {
     return repo.client.{{ .SnakeName | CaseName }}.Delete().
         Where({{ .SnakeName }}.ID(id)).
         // TODO implement your business.
         Exec(ctx)
}

  //  InjectInterfaceImpl 
{{ end }}

{{ define "repository_interface" }}
    New{{ .SnakeName | CaseName }}Repository() {{ .SnakeName | CaseName }}Repository
    // InjectInterface 
{{end}}

{{ define "repository_interface_impl" }}
func (repo *repository) New{{ .SnakeName | CaseName }}Repository() {{ .SnakeName | CaseName }}Repository {
    return new{{ .SnakeName | CaseName }}Repository(repo.client)
}

 //  InjectInterfaceImpl 
{{end}}

{{ define "repository" }}
package repository

import (
    "{{ .InternalDir | ToSlash }}/ent"
)

type repository struct {
    client *ent.Client
}

// IRepository is repository's functions used to service
// It statement the repository's abilities.
// the function name use Camel-Case define should be like this.
// the action is prefix the domain is middle and the other is suffix.
type IRepository interface {
    //  InjectInterface 
}

func New(client *ent.Client) IRepository {
    return &repository{
        client: client,
    }
}

 //  InjectInterfaceImpl 

{{ end }}