package response
import "{{ .Module }}/{{ .InternalDir }}/model"

type Add{{ .SnakeName | CaseName }} struct {
}

type Update{{ .SnakeName | CaseName }}  struct {
}

type {{ .SnakeName | CaseName }} struct {
}

type List{{ .SnakeName | CaseName }} struct {
    model.Pagination
    List []{{ .SnakeName | CaseName }} `json:"list"`
}